<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/project-03</property>
		<!-- Uncomment and update the following line if needed -->
		<!-- <property name="hibernate.connection.url">jdbc:mysql://mysql:3306/project-03</property> -->
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<!-- Dialect setting -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Schema update setting -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Show SQL queries in the console -->
		<property name="show_sql">true</property>

		<!-- Cache settings (commented out) -->
		<!-- <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property> 
             <property name="hibernate.cache.use_second_level_cache">true</property> -->

		<!-- C3P0 connection pool settings (commented out) -->
		<!-- <property name="hibernate.c3p0.min_size">10</property> <property name="hibernate.c3p0.max_size">100</property> 
			<property name="hibernate.c3p0.timeout">10</property> <property name="hibernate.c3p0.max_statements">50</property> 
			<property name="hibernate.c3p0.idle_test_period">3000</property> -->

		<!-- Mapping files -->
		<mapping resource="in/co/rays/project_3/hbm/UserDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/StudentDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/CollegeDTO.hbm.xml" />
		<mapping resource="in/co/rays/project_3/hbm/CourseDTO.hbm.xml" />
		<mapping resource="in/co/rays/project_3/hbm/RoleDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/MarksheetDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/TimetableDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/FacultyDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/SubjectDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/ProductDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/ShopingDTO.hbm.xml" />
		<mapping resource="in/co/rays/project_3/hbm/OrderDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/ProjectDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/InventoryDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/SupplierDTO.hbm.xml" />
		<mapping resource="in/co/rays/project_3/hbm/TransDTO.hbm.xml" />
		<mapping resource="in/co/rays/project_3/hbm/ClientDTO.hbm.xml" />


		<mapping
			resource="in/co/rays/project_3/hbm/PositionDTO.hbm.xml" />
		<mapping
			resource="in/co/rays/project_3/hbm/FavoritesDTO.hbm.xml" />


	</session-factory>
</hibernate-configuration>
